In [2]:
# Import necessary libraries
import pandas as pd

We want to clean and combine all of our various datasets and export it as one CSV. This will primarily involve dropping columns that we aren't interested in and merging onto a central Pandas DataFrame. After some exploratory analysis, we will determine what rows will beed to be dropped or interpolated.

In [9]:
education = pd.read_csv('datasets/raw/Education.csv')
education = education[['FIPS Code', 'Percent of adults with less than a high school diploma, 2015-19', 'Percent of adults with a high school diploma only, 2015-19', "Percent of adults completing some college or associate's degree, 2015-19", "Percent of adults with a bachelor's degree or higher, 2015-19"]]
education.head()

,FIPS Code,"Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,12.0,27.0,28.9,32.1
1,1000,13.8,30.8,29.9,25.5
2,1001,11.5,33.6,28.4,26.6
3,1003,9.2,27.7,31.3,31.9
4,1005,26.8,35.6,26.0,11.6

,FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2019,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,125",...,1.9,0.6,1.2,1.5,0.6,0.6,0.7,1.1,1.8,2.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,597",...,4.8,6.0,-6.2,-3.9,2.0,-1.7,4.8,0.8,0.5,4.6
3,1003,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,265",...,24.0,16.6,17.5,22.8,20.2,17.7,21.3,22.4,24.7,24.4
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,455",...,-5.7,0.3,-6.9,-8.1,-5.1,-15.7,-18.2,-25.0,-8.8,-5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268,72145,PR,"Vega Baja Municipio, Puerto Rico",1.0,1.0,1.0,1.0,NaN,"59,662","59,662",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3269,72147,PR,"Vieques Municipio, Puerto Rico",7.0,7.0,12.0,12.0,NaN,"9,301","9,301",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270,72149,PR,"Villalba Municipio, Puerto Rico",2.0,2.0,2.0,2.0,NaN,"26,073","26,073",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3271,72151,PR,"Yabucoa Municipio, Puerto Rico",1.0,1.0,1.0,1.0,NaN,"37,941","37,941",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3272,72153,PR,"Yauco Municipio, Puerto Rico",3.0,2.0,2.0,2.0,NaN,"42,043","41,947",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN